.khan__buy-link {
  line-height: 42px;
  font-size: 30px;
  font-weight: normal;
  margin: 0;
  text-decoration: none;
  color: #2f80ed;
  transition: opacity .8s ease-in;
  align-self: flex-start;
}

.khan__buy-link:hover {
  text-decoration: underline;
  opacity: 0.7;
}
